In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import networkx as nx
import pandas as pd

path = '/content/drive/My Drive/Enzyme/'
G = nx.Graph()
data_adj = np.loadtxt(path + 'ENZYMES_A.txt', delimiter=',').astype(int)
data_node_att = np.loadtxt(path + 'ENZYMES_node_attributes.txt', delimiter=',')
data_node_label = np.loadtxt(path + 'ENZYMES_node_labels.txt', delimiter=',').astype(int)
data_graph_indicator = np.loadtxt(path + 'ENZYMES_graph_indicator.txt', delimiter=',').astype(int)
data_graph_labels = np.loadtxt(path + 'ENZYMES_graph_labels.txt', delimiter=',').astype(int)

data_tuple = list(map(tuple, data_adj))
G.add_edges_from(data_tuple)
df = nx.to_pandas_edgelist(G)
df.head()

   source  target
0       2       1
1       2       3
2       2       4
3       2      25
4       2      28

In [ ]:
df.describe()

             source        target
count  37282.000000  37282.000000
mean    9811.342471   9816.643850
std     5680.953105   5681.056581
min        1.000000      1.000000
25%     4909.250000   4922.000000
50%     9896.500000   9906.000000
75%    14744.750000  14751.750000
max    19578.000000  19580.000000

In [ ]:
users = []
for i in range(len(data_node_att)):
  users.append(i+1)

In [ ]:
feat = pd.DataFrame(data_node_att, columns = ['1','2','3','4','5','6','7','8','9','10','11','12','13','14','15','16','17','18'])

In [ ]:
feat.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,11.0,15.887014,37.78,-0.51,1.701,93.9,4.0,5.0,2.0,4.0,4.0,3.0,3.0,4.0,4.0,3.0,6.0,2.0
1,11.0,16.362935,40.38,-2.03,1.777,102.6,2.0,7.0,2.0,6.0,2.0,3.0,3.0,2.0,6.0,1.0,8.0,2.0
2,16.0,21.395072,63.35,2.04,2.981,136.0,2.0,7.0,7.0,6.0,4.0,6.0,6.0,2.0,8.0,2.0,7.0,7.0
3,6.0,8.881706,16.92,1.79,0.805,42.7,3.0,1.0,2.0,0.0,3.0,3.0,3.0,3.0,0.0,3.0,1.0,2.0
4,17.0,25.530009,53.41,-5.79,2.363,156.9,7.0,7.0,3.0,7.0,8.0,2.0,3.0,7.0,7.0,7.0,7.0,3.0

In [ ]:
feat['node'] = users

In [ ]:
feat['graph'] = data_graph_indicator

In [ ]:
feat.columns

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13',
       '14', '15', '16', '17', '18', 'node', 'graph'],
      dtype='object')

In [ ]:
feat.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,node,graph
0,11.0,15.887014,37.78,-0.51,1.701,93.9,4.0,5.0,2.0,4.0,4.0,3.0,3.0,4.0,4.0,3.0,6.0,2.0,1,1
1,11.0,16.362935,40.38,-2.03,1.777,102.6,2.0,7.0,2.0,6.0,2.0,3.0,3.0,2.0,6.0,1.0,8.0,2.0,2,1
2,16.0,21.395072,63.35,2.04,2.981,136.0,2.0,7.0,7.0,6.0,4.0,6.0,6.0,2.0,8.0,2.0,7.0,7.0,3,1
3,6.0,8.881706,16.92,1.79,0.805,42.7,3.0,1.0,2.0,0.0,3.0,3.0,3.0,3.0,0.0,3.0,1.0,2.0,4,1
4,17.0,25.530009,53.41,-5.79,2.363,156.9,7.0,7.0,3.0,7.0,8.0,2.0,3.0,7.0,7.0,7.0,7.0,3.0,5,1

In [ ]:
labels = []
for i in data_graph_indicator:
  labels.append(data_graph_labels[i-1])

In [ ]:
feat['labels'] = labels

In [ ]:
feat.head()

,1,2,3,4,5,6,7,8,9,10,...,12,13,14,15,16,17,18,node,graph,labels
0,11.0,15.887014,37.78,-0.51,1.701,93.9,4.0,5.0,2.0,4.0,...,3.0,3.0,4.0,4.0,3.0,6.0,2.0,1,1,6
1,11.0,16.362935,40.38,-2.03,1.777,102.6,2.0,7.0,2.0,6.0,...,3.0,3.0,2.0,6.0,1.0,8.0,2.0,2,1,6
2,16.0,21.395072,63.35,2.04,2.981,136.0,2.0,7.0,7.0,6.0,...,6.0,6.0,2.0,8.0,2.0,7.0,7.0,3,1,6
3,6.0,8.881706,16.92,1.79,0.805,42.7,3.0,1.0,2.0,0.0,...,3.0,3.0,3.0,0.0,3.0,1.0,2.0,4,1,6
4,17.0,25.530009,53.41,-5.79,2.363,156.9,7.0,7.0,3.0,7.0,...,2.0,3.0,7.0,7.0,7.0,7.0,3.0,5,1,6

In [ ]:
feat.to_csv(path + 'features.csv')
df.to_csv(path + 'edgelist.csv')